# standard
*~
*.pyc
*.pyo
*.swo
*.swp
*.mo
*.log
*.egg-info
*.__pycache__
/.coverage
/.tests
/.Python
/PYSMELLTAGS*

# buildout
/.installed.cfg
/.mr.developer.cfg
/bin
/components
/develop-eggs
/downloads/dist
/eggs
/include
/lib
/node_modules
/parts

# local
/docs/_build

# app
/etc/local.ini

# Mac
.DS_Store
